    <div class="loading" ng-if="load"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></div>
    <menu ng-show="redirect"></menu>

    <section class="body-content" ng-show="redirect">
        <alert></alert>

        <div class="headerCustom">
            <div class="max-width-menor">
                <h4><i class="fa fa-bell-o" aria-hidden="true"></i> CADASTRO DE NOTIFICAÇÃO<span> <strong>Escreva sua mensagem</strong> para enviar<br> uma notificação para os <strong>grupos de usuários</strong>.</span></h4>
            </div>
        </div>

        <div class="remetente">
            <div class="max-width-menor">
                <input type="text" placeholder="Digite o nome do remetente" ng-model="filters.sendersName" maxlength="150">
            </div>
        </div>
        <!--filtro por usuario-->
        <div class="filtro-modal filtro-user">
          <div class="setas">
            <span class="seta"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
            <span class="seta"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </div>

          <div class="filtro-conteudo user-modal">
            <a class="fechar" ng-click="closeModal($event, 'user')"><i class="fa fa-times" aria-hidden="true"></i></a>
            <h2>Escolha o tipo de usuário</h2>
            <ul>
              <li><input type="radio" class="primeiro" name="sistemas" value="Docente" ng-model="User.UserType">Docente</li>
              <li><input type="radio" class="primeiro" name="sistemas" value="Colaborador" ng-model="User.UserType">Colaborador</li>
            </ul>
            <a class="continuar" ng-click="openFilterTypeUser($event)">Continuar filtro</a>
          </div>

          <div class="filtro-conteudo filtro-por-usuario">
              <a class="fechar" ng-click="closeModal($event, 'user')"><i class="fa fa-times" aria-hidden="true"></i></a>
            <h2>Filtro por tipo de usuário: Docente</h2>
              <!--<select ng-options="item as item.label for item in listCalendar track by item.Id" ng-model="selected"></select>-->
            <!--<select>-->
              <!--<option value="2017">2017</option>-->
              <!--<option value="2016">2016</option>-->
            <!--</select>-->
            <div class="por-usuario">
                <div class="divisao-filtro">
                  <h3><input type="checkbox" class="primeiro" name="grupos" value="Classificação">DRE</h3>
                  <ul>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="DRE" checked>DRE</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="dre1">dre1</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="dre2">dre2</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="dre3">dre3</li>
                  </ul>
                </div>

                <div class="divisao-filtro">
                  <h3><input type="checkbox" class="primeiro" name="grupos" value="Classificação">Classificação</h3>
                  <ul>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação1">classificação1</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação2">classificação2</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                  </ul>
                </div>

                <div class="divisao-filtro">
                  <h3><input type="checkbox" class="primeiro" name="grupos" value="Classificação">Escola</h3>
                  <ul>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Escola">Escola</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Escola1">Escola1</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Escola2">Escola2</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Escola3">Escola3</li>
                  </ul>
                </div>

                <div class="divisao-filtro">
                  <h3><input type="checkbox" class="primeiro" name="grupos" value="Classificação">Cargo</h3>
                  <ul>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Cargo">Cargo</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="cargo1">cargo1</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="cargo2">cargo2</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="cargo3">cargo3</li>
                  </ul>
                </div>
            </div>
              <div class="por-usuario">
                  <div class="divisao-filtro">
                      <h3><input type="checkbox" class="primeiro" name="grupos" value="Classificação">Curso</h3>
                      <ul>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="DRE" checked>DRE</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="dre1">dre1</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="dre2">dre2</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="dre3">dre3</li>
                      </ul>
                  </div>

                  <div class="divisao-filtro">
                      <h3><input type="checkbox" class="primeiro" name="grupos" value="Classificação">Período</h3>
                      <ul>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação1">classificação1</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação2">classificação2</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="classificação3">classificação3</li>
                      </ul>
                  </div>

                  <div class="divisao-filtro">
                      <h3><input type="checkbox" class="primeiro" name="grupos" value="Classificação">Disciplina</h3>
                      <ul>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="Escola">Escola</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="Escola1">Escola1</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="Escola2">Escola2</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="Escola3">Escola3</li>
                      </ul>
                  </div>

                  <div class="divisao-filtro">
                      <h3><input type="checkbox" class="primeiro" name="grupos" value="Classificação">Turma</h3>
                      <ul>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="Cargo">Cargo</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="cargo1">cargo1</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="cargo2">cargo2</li>
                          <li><input type="checkbox" class="primeiro" name="grupos" value="cargo3">cargo3</li>
                      </ul>
                  </div>
              </div>
            <a class="continuar">Continuar filtro</a>
          </div>
        </div>

        <!--filtro por sistema-->
        <div class="filtro-modal filtro-system">
            <div class="setas">
                <span class="seta"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                <span class="seta"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </div>
            <div class="filtro-conteudo sist">
                <a class="fechar" ng-click="closeModal($event, 'system')"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h2>Sistemas</h2>
                <ul>
                    <li ng-repeat="systemType in listSystem">
                        <input type="radio" class="primeiro" name="sistemas" value="{{systemType}}" ng-click="selectedSystemGroup('system', systemType)">{{systemType.Name}}
                    </li>
                </ul>
                <a class="enviar" ng-if="system.systemType.Name" ng-click="emitFilters($event, system.systemType, 'systemType')"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</a>
                <a class="continuar" ng-if="system.systemType.Name" ng-click="nextFilter($event, 2)">Continuar filtro</a>
            </div>
            <div class="filtro-conteudo grup">
                <a class="fechar" ng-click="closeModal($event, 'system')"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h2>Grupos</h2>
                <ul>
                    <li ng-repeat="keyGroup in listGroups">
                        <input type="radio" class="primeiro" name="grupos" value="{{keyGroup.Name}}" ng-click="selectedSystemGroup('group', keyGroup)" >{{keyGroup.Name}}
                    </li>
                </ul>
                <a class="enviar" ng-if="system.Group.Name" ng-click="emitFilters($event, system.Group, 'Group')"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</a>
                <a class="continuar" ng-if="system.Group.Name" ng-click="nextFilter($event, 3)">Continuar filtro</a>
            </div>

            <div class="filtro-conteudo dre">
                <a class="fechar" ng-click="closeModal($event, 'system')"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h2>DREs</h2>
                <ul>
                    <li ng-repeat="dre in listDREs">
                        <input type="checkbox" class="primeiro" name="grupos" value="{{dre.Name}}" ng-click="selectTypeFilter($event, system.DRE, dre)">{{adm.Name}}
                    </li>
                </ul>
                <a class="enviar" ng-click="emitFilters($event, system.DREs)"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</a>
            </div>

            <div class="filtro-conteudo admUnit">
                <a class="fechar" ng-click="closeModal($event, 'system')"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h2>Unidade administrativa</h2>
                <ul>
                    <li ng-repeat="adm in AdministrativeUnits">
                        <input type="checkbox" class="primeiro" name="grupos" value="{{adm.Name}}" ng-click="selectTypeFilter($event, system.AdministrativeUnit, adm)">{{adm.Name}}
                    </li>
                </ul>
                <a class="enviar" ng-click="emitFilters($event, system.AdministrativeUnit)"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</a>
            </div>
        </div>


        <div class="text-center">
            <a class="filtro sistemas" ng-click="openModalSystem($event)"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar por sistema</a>
            <a class="filtro user" ng-click="openModalUser($event)"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar por usuário</a>
        </div>

        <form class="maxWidthNotf">
            <div class="card selecionados">
                <label class="accordion" ng-click="accordion($event)">Filtros por sistema:</label>
                <div class="panel" style="display: none">
                  <div ng-repeat="filter in filters.filters" class="bloco-panel">
                    <p>
                      {{filter.systemType.Name}} <span ng-if="filter.Group.Name">-</span> 
                      {{filter.Group.Name}} <span ng-if="filter.DREs.Name">-</span>
                      {{filter.DREs.Name}} <span ng-if="filter.AdministrativeUnit.Name">-</span> 
                      {{filter.AdministrativeUnit.Name}}
                      <i class="fa fa-times" aria-hidden="true" ng-click="removeFilterSelected($index)"></i>
                    </p>
                  </div>
                </div>
                <label class="accordion">Filtros por usuário:</label>
                <div class="panel" style="display: none">
                    <!--<div ng-repeat="filter in filters.filters" class="bloco-panel">-->
                        <!--<p>-->
                            <!--{{filter.systemType.Name}} <span ng-if="filter.Group.Name">-</span>-->
                            <!--{{filter.Group.Name}} <span ng-if="filter.DREs.Name">-</span>-->
                            <!--{{filter.DREs.Name}} <span ng-if="filter.AdministrativeUnit.Name">-</span>-->
                            <!--{{filter.AdministrativeUnit.Name}}-->
                            <!--<i class="fa fa-times" aria-hidden="true" ng-click="removeFilterSelected($index)"></i>-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="card tipo-mensagem">
                <label>Tipo da mensagem: </label>
                <p class="off baixa type-message" ng-click="selectMessageType($event)">Baixa</p>
                <p class="off media type-message" ng-click="selectMessageType($event)">Média</p>
                <p class="off alta type-message" ng-click="selectMessageType($event)">Alta</p>
                <p class="off urgente type-message" ng-click="selectMessageType($event)">Urgente</p>

            </div>
            <div class="card">
                <div class="divisao">
                    <div>
                        <label>Data de envio da notificação</label>
                        <input type="date" ng-model="filters.sendDate">
                    </div>
                    <div>
                        <label>Data de validade da notificação</label>
                        <input type="date" ng-model="filters.expirationDate">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="divisao">
                    <div>
                        <label>Titulo</label>
                        <input type="text" ng-model="filters.title" maxlength="100">
                    </div>
                </div>
            </div>
            <div class="card mensagem ultimo">
                <label>Mensagem </label>
                <textarea id="content" name="content" rows="9" placeholder="Digite aqui sua mensagem" ></textarea>
            </div>
            <button class="enviar">Enviar</button>
        </form>
    </section>

    <footer class="footer" ng-show="redirect">
        <div class="max-width">
            <p>Sistema para cadastro de notificação<span>Todos os direitos reservados.</span></p>
        </div>
    </footer>
