
    <menu></menu>
    <section class="body-content">

        <div class="headerCustom">
            <div class="max-width-menor">
                <h4><i class="fa fa-bell-o" aria-hidden="true"></i> CADASTRO DE NOTIFICAÇÃO<span> <strong>Escreva sua mensagem</strong> para enviar<br> uma notificação para os <strong>grupos de usuários</strong>.</span></h4>
            </div>
        </div>

        <div class="remetente">
            <div class="max-width-menor">
                <input type="text" placeholder="Digite o nome do remetente" ng-model="filters.sendersName">
            </div>
        </div>

        <div class="filtro-modal">
            <div class="setas">
                <span class="seta"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                <span class="seta"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </div>
            <div class="filtro-conteudo sist">
                <a class="fechar" ng-click="closeModalSystem($event)"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h2>Sistemas</h2>
                <ul>
                    <li><input type="checkbox" class="primeiro" name="sistemas" value="Administração de sistema">Administração de sistema</li>
                    <li><input type="checkbox" class="primeiro" name="sistemas" value="Biblioteca">Biblioteca</li>
                    <li><input type="checkbox" class="primeiro" name="sistemas" value="Gestão Escolar">Gestão Escolar</li>
                    <li><input type="checkbox" class="primeiro" name="sistemas" value="Boletim Online">Boletim Online</li>
                </ul>
                <a class="enviar" ng-click="emitFilters($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</a>
                <a class="continuar" ng-click="nextFilter($event)">Continuar filtro</a>
            </div>
            <div class="filtro-conteudo grup">
                <a class="fechar" ng-click="closeModalSystem($event)"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h2>Grupos</h2>
                <ul>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Administração">Administração</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Professor">Professor</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Secretário de escola">Secretário de escola</li>
                    <li><input type="checkbox" class="primeiro" name="grupos" value="Diretor">Diretor</li>
                </ul>
                <a class="enviar" ng-click="emitFilters($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</a>
                <a class="continuar">Continuar filtro</a>
            </div>
        </div>

        <div class="text-center">
            <a class="filtro sistemas" ng-click="openFIlterSystem($event)"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar por sistema</a>
            <a class="filtro user" ng-click="openFIlterUser($event)"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar por usuário</a>
        </div>

        <form class="maxWidthNotf">
            <!--
                    <div class="card">
                      <label>Filtro por sistema</label>
                      <div class="divisao">
                        <div>
                          <label><small>Sistemas</small></label>
                          <input type="radio" class="primeiro" name="sistemas" value="Administração de sistema">Administração de sistema<br>
                          <input type="radio" class="primeiro" name="sistemas" value="Biblioteca">Biblioteca<br>
                          <input type="radio" class="primeiro" name="sistemas" value="Gestão Escolar">Gestão Escolar<br>
                          <input type="radio" class="primeiro" name="sistemas" value="Boletim Online">Boletim Online<br>
                        </div>
                        <div>
                          <label><small>Grupos</small></label>
                          <input type="radio" class="primeiro" name="grupos" value="Administração">Administração<br>
                          <input type="radio" class="primeiro" name="grupos" value="Professor">Professor<br>
                          <input type="radio" class="primeiro" name="grupos" value="Secretário de escola">Secretário de escola<br>
                          <input type="radio" class="primeiro" name="grupos" value="Diretor">Diretor<br>
                        </div>
                        <div>
                          <label><small>Unidade administrativa</small></label>
                          <input type="radio" class="primeiro" name="unidade" value="Escola 1">Escola 1<br>
                          <input type="radio" class="primeiro" name="unidade" value="Escola 2">Escola 2<br>
                          <input type="radio" class="primeiro" name="unidade" value="Escola 3">Escola 3<br>
                          <input type="radio" class="primeiro" name="unidade" value="Escola 4">Escola 4<br>
                        </div>
                      </div>
                    </div>
            -->
            <!--
                    <div class="card">
                      <label>Filtro por tipo de usuário</label>
                      <div class="divisao">
                        <div>
                          <label><small>Sistemas</small></label>
                          <input type="radio" class="primeiro" name="sistemas" value="Docentes">Docentes<br>
                          <input type="radio" class="primeiro" name="sistemas" value="Colaborador">Colaborador<br>
                        </div>
                        <div>
                          <label><small>Unidade superior</small></label>
                          <input type="radio" class="primeiro" name="grupos" value="DRE 1">DRE 1<br>
                          <input type="radio" class="primeiro" name="grupos" value="DRE 2">DRE 2<br>
                          <input type="radio" class="primeiro" name="grupos" value="DRE 2">DRE 2<br>
                        </div>
                        <div>
                          <label><small>Escola</small></label>
                          <input type="radio" class="primeiro" name="unidade" value="Escola 1">Escola 1<br>
                          <input type="radio" class="primeiro" name="unidade" value="Escola 2">Escola 2<br>
                          <input type="radio" class="primeiro" name="unidade" value="Escola 3">Escola 3<br>
                        </div>
                      </div>
                    </div>
            -->
            <div class="card selecionados">
                <label>Filtros selecionados:</label>
                <p>Biblioteca<a><i class="fa fa-times" aria-hidden="true"></i></a></p>
                <p>Administração<a><i class="fa fa-times" aria-hidden="true"></i></a></p>
                <p>Professor<a><i class="fa fa-times" aria-hidden="true"></i></a></p>
            </div>

            <div class="card tipo-mensagem">
                <label>Tipo da mensagem: </label>
                <p class="off baixa" ng-click="selectMessageType($event)">Baixa</p>
                <p class="off media" ng-click="selectMessageType($event)">Média</p>
                <p class="alta" ng-click="selectMessageType($event)">Alta</p>
                <p class="off urgente" ng-click="selectMessageType($event)">Urgente</p>

            </div>
            <div class="card">
                <div class="divisao">
                    <div>
                        <label>Data de envio da notificação</label>
                        <input type="date" ng-model="filters.sendDate">
                    </div>
                    <div>
                        <label>Data de validade da notificação</label>
                        <input type="date" ng-model="filters.expirationDate">
                    </div>
                </div>
            </div>
            <div class="card mensagem ultimo">
                <label>Mensagem </label>
                <textarea rows="9" placeholder="Digite aqui sua mensagem" maxlength="500" ng-model="filters.message"></textarea>
            </div>
            <button class="enviar">Enviar</button>
        </form>
    </section>

    <footer class="footer">
        <div class="max-width">
            <p>Sistema para cadastro de notificação<span>Todos os direitos reservados.</span></p>
        </div>
    </footer>

    <ul class="notificacoes">
        <li class="urgente"><span>09/06/2017 - Urgente</span> Lorem Ipsum is simply dummy text of the printing and typesetting...</li>
        <li><span>09/06/2017</span> Lorem Ipsum is simply dummy text of the printing and typesetting...</li>
        <li><span>09/06/2017</span> Lorem Ipsum is simply dummy text of the printing and typesetting...</li>
        <li class="lida"><span>09/06/2017</span> Lorem Ipsum is simply dummy text of the printing and typesetting...</li>
        <li class="lida"><span>09/06/2017</span> Lorem Ipsum is simply dummy text of the printing and typesetting...</li>
        <li class="urgente lida"><span>09/06/2017 - Urgente</span> Lorem Ipsum is simply dummy text of the printing and typesetting...</li>
        <li class="lida"><span>09/06/2017</span> Lorem Ipsum is simply dummy text of the printing and typesetting...</li>
        <li class="lida"><span>09/06/2017</span> Lorem Ipsum is simply dummy text of the printing and typesetting...</li>
    </ul>
    <a class="float-menu" ng-click="notificationMenu()"><i class="fa fa-bell" aria-hidden="true"></i></a>
