<configuration>
  <connectionStrings>
    <clear />
    <add name="CoreSSO" providerName="System.Data.SqlClient" connectionString="$ConnectionString.CoreSSO$" />
    <add name="SGP" providerName="System.Data.SqlClient" connectionString="$ConnectionString.SGP$" />
    <add name="IDS" providerName="System.Data.SqlClient" connectionString="$ConnectionString.IDS$" />
  </connectionStrings>
</configuration>